@import url(Banner.css);
@import url(blog.css);


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box
}
BODY{
	background-color: white;
}
nav{
	max-width: 100%;
	margin: auto;
	background-color: #81cf7d;
	font-size: 20px;
	margin-top: 50px;
} 
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: #429c3e;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width:300px;
	background-color: white;
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: #429c3e;
}

.menu-vertical li a{
	display: block;
	color: #;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}
#html{
	margin: auto;
	padding: 20px;
	max-width: 100%;
	background: #b8ebb6;
}
.titulo{
       font-size: 35px;
       font-family: "Tahoma";
       text-align: center;
       color: #429c3e;
}
.footer {
    background-color:  #81cf7d;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-text {
    font-size: 0.9em;


